@model ExamPlatformDataModel.Accounts
@{
    ViewData["Title"] = "LogIn";
}
<div id="LogInDiv">
    
        <h1>Hello @Model.Name</h1>
        <h2>To start exam, please click below.</h2>
        <h3>
            <a asp-controller="Course" asp-action="ShowCourses" class="btn btn-primary btn-lg">Start</a>
            <a asp-controller="Accounts" asp-action="Logout" class="btn btn-warning btn-lg">Log out</a>
        </h3>
</div>

