@model ExamPlatformDataModel.Accounts
@{
    ViewData["Title"] = "Logout";
}
<div>
    <h1>You have been logged out</h1>
    <a class="btn btn-default" asp-controller="Accounts" asp-action="NavigateToMainPage">SignUp</a>
  
</div>