@model ExamPlatformDataModel.Accounts
@{
    ViewData["Title"] = "Egzamin ukończony";
}
<div id="ExamFinishedInfo">
    <h2>Twoje odpowiedzi zostały zapisane i przesłane do egzaminatora</h2>
    <p> Wyniki egzaminu otrzymasz mailowo</p>
</div>