@*@model IEnumerable<ExamPlatformDataModel.Course>*@
@model CoursesViewModel

<h2>
    Select Course
</h2>
<form asp-controller="Course" asp-action="ShowCourses">

    <select id="courseSelect"  asp-for="CourseID" size="2" 
            asp-items="@(new SelectList(Model.Courses,"CourseID","CourseType"))" class="form-control">
</select>
 
        <input type="submit" class="btn btn-primary btn-lg" value="Select" id="submitNewExam"
               asp-controller="Exams" asp-action="ShowExam" />
      
</form>


