@*@model IEnumerable<ExamPlatformDataModel.Course>*@
@model CoursesViewModel

<h2>
    Select Course
</h2>
<form asp-controller="Course" asp-action="ShowCourses">

    <select class="btn btn-default" asp-for="CourseID"
            asp-items="@(new SelectList(Model.Courses,"CourseID","CourseType"))"></select>
 
        <input type="submit" class="btn btn-default" value="Select"
               asp-controller="Exams" asp-action="ShowExam" />

</form>


