@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Instytut Podstaw Informatyki Polskiej Akademii Nauk<br />
    01-248 Warszawa<br />
    Grzegorz Glonek<br />
    
    <abbr title="Phone">P:</abbr>
   - -
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">grzegorz@glonek.net.pl</a><br />
</address>
