<h2 class="text-danger">Account does not exist</h2>
<p class="text-danger">Please check if username or password is valid.</p>

<a asp-area="" asp-controller="Accounts" asp-action="UserSignUp" class="btn btn-default btn-lg">Try again</a>