<h2 class="text-danger">The account has not been created. Try to use other Username or Password</h2>
<a asp-controller="Accounts" asp-action="CreateAccountForStudent" class="btn btn-default">Register Again</a>